@use "innoq-styleguide/dist/sass/settings/colors" as colors;
@use "../../../assets/stylesheets/spacers" as spacings;
@use "../../../assets/stylesheets/typography" as typography;

.invoice-meta {
  dt {
    text-transform: uppercase;
    color: colors.$brand-blue-25;
    font-size: typography.$font-size-xs;
    line-height: typography.$paragraph-line-height;
  }

  dd {
    color: colors.$brand-blue;
    margin-left: 0;
    margin-bottom: spacings.$spacer-base;
    font-size: typography.$font-size-sm;
    line-height: typography.$paragraph-line-height;
  }
}
