@use "innoq-styleguide/dist/sass/settings/colors" as colors;
@use "../../assets/stylesheets/spacers" as spacings;
@use "../../assets/stylesheets/typography" as typography;
@use "../../assets/stylesheets/animations" as animations;

.tabs-nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: typography.$font-size-sm;
  }

  li {
    background-color: colors.$brand-red-25;
    transition: animations.$standard-transition;

    a {
      display: block;
      text-decoration: none;
      padding: spacings.$spacer-xxs spacings.$spacer-md;
      color: colors.$brand-white;
      cursor: pointer;
      font-weight: bold;
      font-size: typography.$font-size-sm;
      white-space: nowrap;
    }

    &.active,
    &:hover,
    &:focus {
      background-color: colors.$brand-red;
    }

    &:first-child {
      border-radius: 20px 0 0 20px;
    }

    &:last-child {
      border-radius: 0 20px 20px 0;
    }
  }
}
