@use "innoq-styleguide/dist/sass/settings/colors" as colors;

@use "../../../assets/stylesheets/shadows" as shadows;
@use "../../../assets/stylesheets/spacers" as spacings;
@use "../../../assets/stylesheets/typography" as typography;
@use "../../text";

@mixin table-header-style() {
  @extend %heading-font-bold;
  @extend %muted;

  font-size: typography.$font-size-xs;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.table {
  --border-color-td: #{colors.$brand-gray-50};

  border-collapse: collapse;

  th {
    @include table-header-style();

    color: colors.$brand-blue-25;
    text-align: left;
    align-self: end;
  }

  tbody {
    background-color: colors.$brand-white;
    color: colors.$brand-blue;
    vertical-align: top;
    box-shadow: shadows.$box-shadow-down;
  }

  td {
    padding: spacings.$spacer-sm spacings.$spacer-xs;
    border-top: 1px solid var(--border-color-td);
    font-size: typography.$font-size-sm;
    line-height: typography.$paragraph-line-height;
    width: 100%;

    &:first-child {
      border-left: 1px solid var(--border-color-td);
    }

    &:last-child {
      border-right: 1px solid var(--border-color-td);
    }

    &.emphasized {
      @extend %heading-font-bold;
    }

    &.centered {
      text-align: center;
    }

    &.action {
      background-color: colors.$brand-gray-20;
      width: auto;
      vertical-align: middle;
    }
  }

  tr:last-child td {
    border-bottom: 1px solid var(--border-color-td);
  }
}
