@use "innoq-styleguide/dist/sass/settings/colors" as colors;
@use "../../assets/stylesheets/helpers" as helpers;
@use "../../assets/stylesheets/spacers" as spacings;
@use "../../assets/stylesheets/typography" as typography;
@use "../../assets/stylesheets/animations" as animations;

.dropdown-button {
  @extend %heading-font-bold;

  border: 2px solid colors.$brand-red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: spacings.$spacer-xxs spacings.$spacer-sm;
  text-decoration: none;
  color: colors.$brand-red;
  font-size: typography.$font-size-sm;
  line-height: 1;
  min-width: 5rem; //magic number
  white-space: nowrap;

  .icon-caret-down {
    @include helpers.icon-before("caret-down-solid.svg", colors.$brand-red, 1rem);

    margin-left: spacings.$spacer-xxs;
  }
}

.dropdown-icon {
  ul {
    left: -50px; //magic number
  }

  .icon-dots-vertical {
    @include helpers.icon-before("dots-vertical.svg", colors.$brand-blue-25, 1.5rem);
  }
}

.dropdown-wrapper {
  position: relative;

  ul {
    font-size: typography.$font-size-sm;
    background-color: colors.$brand-gray-10;
    transition: animations.$standard-transition;
    list-style: none;
    margin: 0;
    padding-left: 0;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 2.15rem; //magic number
    left: 0;
    z-index: 2;
    width: 5rem; //magic number
  }

  li {
    padding: spacings.$spacer-xs spacings.$spacer-xs;

    a {
      color: colors.$brand-blue;
      text-decoration: none;
    }

    &:hover {
      background-color: colors.$brand-blue-25;
    }
  }

  &:hover ul,
  &:focus-within ul {
    visibility: visible;
    opacity: 1;
  }

  li:focus-within a {
    outline: none;
  }
}
